@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}
.nav-item .nav-link:hover {
  font-weight: 600;
  color: #068ddb !important;
}
.nav-item .nav-link:active {
  text-decoration: underline;
  color: #42bbff;
}
.home {
  padding: 4rem 0px;
}

.login-form {
  width: 70%;
  height: auto;
  background-color: #42bbff;
  margin: 0px 85px 0px;
  border-radius: 30px;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 1rem;
  border: 2px solid #e0e0e0;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border: 2px solid #068ddb;
  outline: none;
  box-shadow: none;
}
.btn {
  border-radius: 15px;
}
.btnlogin:focus,
.btnsignin:focus {
  box-shadow: none;
}
.btnlogin:hover {
  color: #42bbff !important;
  background-color: white;
  border: 1px solid #41bbff;
}
.btnsignin:hover {
  color: white !important;
  background-color: #42bbff;
  border: 1px solid #42bbff;
}
.btn-default {
  background-color: none !important;
  box-shadow: none;
}
.btn-default:focus {
  background-color: none !important;
  box-shadow: none;
}
.input-error {
  outline: 1px solid red;
}
.logo {
  width: 25px;
}
.logo-footer {
  width: 40px;
}
footer a {
  text-decoration: none;
  color: #000;
}

footer a:hover {
  color: #000;
}

footer .col-4 h4 {
  color: #42bbff;
}

@media screen and (min-width: 450px) {
  .img {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .bawah {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .icon {
    padding-bottom: 20px;
  }
}
